@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="ui header">@ViewData["Title"]</h2>
<h3 class="ui sub header">Associate your @ViewData["LoginProvider"] account</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui small form validate-me" role="form">


    <p class="content">
        You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="six wide field">
        <div class="ui left icon input">
            <i class="user icon"></i>
            <input asp-for="Email" placeholder="Email address"/>
            <div asp-validation-for="LoginModel.Email"></div>
        </div>
    </div>
    <br/>
    <input type="submit" class="ui large blue submit button" value="Register" />
    <br />

    <div asp-validation-summary="All" class="ui error message"></div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
