@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="ui raised very padded text container">
    <h3 class="ui header centered">Reset Password</h3>
    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="ui large form validate-me" role="form">

        <input asp-for="Code" type="hidden"/>
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="Email" placeholder="Email address"/>
                </div>
            </div>

            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="Password" placeholder="Password"/>
                </div>
            </div>

            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password"/>
                </div>
            </div>
            <button type="submit" class="ui large blue submit button">Reset</button>
            <div asp-validation-summary="All" class="ui error message"></div>

        </div>



    </form>

</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
