doctype html
html(class="no-js", lang="en")
    include header
    body
        div.row
            div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns panel radius")
                h1 Yo Foundation 5!
                ul
                    li Sass compiling (Ruby or Node/Libsass)
                    li Jade templating engine (option)
                    li Publishing to dist directory
                    li Server with LiveReload
                    li JSHint
                    li Grunt Bower install
                    li Imagemin
                    li Font Awesome (option)
                h1 Grunt tasks:
                ul
                    li 'grunt' - watching (Sass, Server on 127.0.0.1:9000 with LiveReload)
                    li 'grunt compile-sass' - Sass
                    li 'grunt compile-jade' - Jade
                    li 'grunt validate-js' - JSHint
                    li 'grunt bower-install' - injecting bower libraries
                    li 'grunt publish' - dist directory
                    li 'grunt server-dist' - server on 127.0.0.1:9001 - dist directory (preview only)
                h2(class="text-right")
                    a(href="https://github.com/juliancwirko/generator-zf5")
                        <% if (fontAwesome) { %>i(class="fa fa-github")<% } else { %>span github<% } %>
        include footer