@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2 class="ui header">@ViewData["Title"]</h2>
<p>
    For more information on how to enable reset password please see this <a href="https://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
