// build:js js/vendor/libraries.min.js
// bower:js
script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/fastclick/lib/fastclick.js")
// endbower
// endbuild
// build:js js/vendor/foundation.min.js
script(src="bower_components/foundation/js/foundation/foundation.js")
script(src="bower_components/foundation/js/foundation/foundation.abide.js")
script(src="bower_components/foundation/js/foundation/foundation.accordion.js")
script(src="bower_components/foundation/js/foundation/foundation.alert.js")
script(src="bower_components/foundation/js/foundation/foundation.clearing.js")
script(src="bower_components/foundation/js/foundation/foundation.dropdown.js")
script(src="bower_components/foundation/js/foundation/foundation.equalizer.js")
script(src="bower_components/foundation/js/foundation/foundation.interchange.js")
script(src="bower_components/foundation/js/foundation/foundation.joyride.js")
script(src="bower_components/foundation/js/foundation/foundation.magellan.js")
script(src="bower_components/foundation/js/foundation/foundation.offcanvas.js")
script(src="bower_components/foundation/js/foundation/foundation.orbit.js")
script(src="bower_components/foundation/js/foundation/foundation.reveal.js")
script(src="bower_components/foundation/js/foundation/foundation.slider.js")
script(src="bower_components/foundation/js/foundation/foundation.tab.js")
script(src="bower_components/foundation/js/foundation/foundation.tooltip.js")
script(src="bower_components/foundation/js/foundation/foundation.topbar.js")
// endbuild
// build:js js/app.min.js
script(src="js/app.js")
// endbuild